<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Josefin+Sans&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Jalen Arms's Portfolio</title>
</head>
<body>
    <div class="pr-4 mb-5 pb-2 wrap-name">
        <nav class="navbar navbar-expand">
            <div class="container-fluid d-flex justify-content-end">
                {{#unless isLoggedIn}}
                <a class="navbar-brand text-white cst-link px-3" href="https://github.com/jalenarms1" target="_blank">Github</a>
                <a href="#" class="navbar-brand text-white cst-link px-3" data-bs-toggle="modal"  data-bs-target="#contactModal">Contact</a>
                {{/unless}}
                {{#if isLoggedIn}}
                <a class="navbar-brand text-white cst-link px-3" href="/admin/enter-proj">Add new project</a>
                <a class="navbar-brand text-white cst-link px-3" href="/admin/view">View Projects</a>
                <a class="navbar-brand text-white cst-link px-3" href="#" id="logout-btn">Logout</a>
                {{/if}}

            </div>
        </nav>
        
        

        <div class="wrap-details details-bg w-50 px-3 py-2">
            <h1 class="">Jalen Arms</h1>
            <h4 class="">Software Developer in the Making.</h4>
            <p class="">Currently enrolled in the University of Arizona's coding bootcamp (grad-date: 12/6/2022)</p>

        </div>
     
    </div>
    <div class="modal fade" id="contactModal">
        <div class="modal-dialog modal-dailog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Contact Info</h4>
                </div>
                <div class="modal-body">
                    <div class="wrap-phoneNumber d-flex flex-wrap">
                        <p class="mx-2"><strong>Phone number: </strong></p>
                        <p class="mx-2">614-596-8904</p>
                    </div>
                    <div class="wrap-email d-flex flex-wrap">
                        <p class="mx-2"><strong>Email: </strong></p>
                        <p class="mx-2"><a href="mailto:jalenarms@outlook.com">Jalenarms@outlook.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="/assets/js/index.js"></script>
</body>
</html>