<form>
    <div class="contain-form w-100">
        <div class="w-50 wrap-login bg-light h-50 p-5 border rounded m-auto d-flex flex-column">
            <div class="wrap-email">
                <label class="" for="username-init-input">Username</label>
                <br>
                <br>
                <input class="w-50 px-2" type="text" id="username-init-input" placeholder="Username"/>
            </div>
            <br>
            <div class="wrap-email">
                <label class="" for="email-init-input">Email:</label>
                <br>
                <br>
                <input class="w-50 px-2" type="text" id="email-init-input" placeholder="Email"/>
            </div>
            <br>
            <div class="wrap-password">
                <label class="" for="password-init-input">Password: </label>
                <br>
                <br>
                <input class="w-50 px-2" type="password" id="password-init-input" placeholder="Password" />
            </div>
            <br>
            <br>
            <button id="submit-admin-init" class="btn btn-outline-dark">Create Account</button>
        </div>

    </div>
</form>

