/* place styles here */
:root{
    
}

html{
    height: fit-content;
}

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(9, 9, 71, 0.85), rgba(0, 0, 0, .85)),
                url("https://coolbackgrounds.io/images/unsplash/samuel-zeller-medium-b832fe04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

h1, h2, h3, h4, p{
    font-family: 'Noto Sans Mono', monospace;
}



.wrap-name{
    background-color: #2f274b;
    box-shadow: 0 0 5px inset black;


}

.cst-jmbo-bg{
    background-color: rgb(50, 41, 70);
}
.proj-container{
    width: 80%;
    margin: auto;
    /* overflow-x: scroll; */
    /* background-image: linear-gradient(rgb(15, 28, 95), rgb(171, 213, 255)); */
    background-color: #2f274b;
    box-shadow: 0 0 5px inset black;
    margin-bottom: 5%;
}

.wrap-proj-sec{
    margin: auto;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 450px;
    margin-bottom: 5%;
}





.cst-link{
    background-color: rgb(102, 86, 174);
    border-radius: 25px;
    width: fit-content;
}