/* place styles here */
:root{
    
}

html{
}

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(9, 9, 71, 0.85), rgba(0, 0, 0, .85)),
                url("https://coolbackgrounds.io/images/unsplash/samuel-zeller-medium-b832fe04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: fit-content; */

}

h1, h2, h3, h4{
    font-family: 'Josefin Sans', sans-serif;}

p, a{
    font-family: 'Dosis', sans-serif;
}

.wrap-name{
    background-color: #2f274b;
    box-shadow: 0 0 5px inset black;
}

.details-bg{
    background-color: #c9c9c9;
    color: rgb(6, 39, 66);
    box-shadow: 0 0 5px inset black;
    width: 50%;
}

.cst-jmbo-bg{
    background-color: rgb(50, 41, 70);
}
.proj-container{
    width: 90%;
    margin: auto;
    background-color: #2f274b;
    box-shadow: 0 0 5px inset black;
    margin-bottom: 5%;
    height: fit-content;
}



.cst-wrap{
    width: 90%;
    margin: auto;

}

.wrap-proj-sec{
    /* overflow-x: scroll; */
    width: 100%;
    margin-bottom: 5%;
}





.cst-link{
    background-color: rgb(102, 86, 174);
    border-radius: 25px;
    width: fit-content;
}

@media screen and (max-width: 825px) {
    .wrap-proj-sec{
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .details-bg{
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .proj-container{
        width: 100%;
    }
    .wrap-proj-sec{
        width: 80%;
        overflow-x:hidden;
        flex-direction: column;
    }
    
}